@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Web application developed in C# using ASP.NET Core MVC (2.1) and Entity Framework Core, following the MVC pattern.
    <br /><br />
    The system is a sales management application that handles Sellers, Departments, and Sales Records, with data persistence in a relational database.
    <br /><br />
    It uses Entity Framework Core as the ORM and Razor as the template engine for dynamic view rendering.
</p>