@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua das Palmeiras, 123<br />
    São Paulo, SP 01000-000<br />
    Phone: +55 48 9246-5862
</address>

<address>
    <strong>Email 1:</strong> <a href="mailto:isaacpatrocinio27@gmail.com">isaacpatrocinio27@gmail.com</a><br />
    <strong>Email 2:</strong> <a href="mailto:isaacpatrocinioo@hotmail.com">isaacpatrocinioo@hotmail.com</a>
</address>
